//body {
//  margin: 0;
//  text-align: center;
//}
//#clipArea {
//  height: 300px;
//}
//#file,
//#clipBtn {
//  margin: 20px;
//}
//#view {
//  margin: 0 auto;
//  width: 200px;
//  height: 200px;
//  background-color: #666;
//}


.photo-clip-area{
  border: 0!important;
}
.file-page{
  height: 100vh;
  width: 100vw;
  background: url("assets/filepage-bg.png") no-repeat;
  background-size: cover;
  position: relative;
  background-position: center;
  .file-content {
    position: absolute;
    top: 5vh;
    bottom: 15vh;
    height: 85vh;
    width: 100vw;
    .content-logo {
      background: url("assets/main-logo.png") no-repeat;
      background-size: cover;
      width: 30vw;
      height: calc(30vw / 241 * 44);
      display: block;
      margin-left: 8%;
      margin-bottom: 5vh;
    }
    .content-title{
      text-align: center;
      span{
        display: block;
        color: #ffffff;
        font-weight: 900;
      }
      .title2{
        font-size: 38px;
      }
    }
    .content-file{
      background: url("assets/file-bg.png") no-repeat;
      background-size: cover;
      background-position: center;
      width: 85vw;
      height: calc(85vw / 638 * 332);
      //width: calc(26vh / 332 * 638);
      //height: 26vh;
      margin: auto;
      margin-top: 5vh;
      position: relative;
      .c-canvas{
        position: absolute!important;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;

      }
      .c-file{
        width: 85vw;
        height: calc(85vw / 638 * 332);
        //width: calc(26vh / 332 * 638);
        //height: 26vh;
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
        opacity: 0;
      }
    }
    .from-input{
      margin-top: 5vh;
      width: 100%;
      position: relative;

      .input-bg{
        //background: url("assets/file-bottom-bg.png") no-repeat;
        //background-size: cover;
        background-color: transparent;
        //background-position: center;
        position: relative;
        color: #ffffff;
        width: 100%;
        text-align: left;
        font-size: 16px;
        padding-left: 10vw;
        height: 7vh;
        border-top: 0;
        border-right: 0;
        border-left: 0;
        border-bottom: 1px solid rgba(255, 255, 255,0.3);

      }
      .verification-error{
        border-bottom: 1px solid #8C203E;
        border-top: 1px solid #8C203E;
      }
      .verification-error::-webkit-input-placeholder {
        color: #8C203E !important;
        /* WebKit browsers */
      }
      .verification-error:-moz-placeholder {
        color: #8C203E !important;
        /* Mozilla Firefox 4 to 18 */
      }
      .verification-error::-moz-placeholder {
        color: #8C203E !important;
        /* Mozilla Firefox 19+ */
      }
      .verification-error:-ms-input-placeholder {
        color: #8C203E !important;
        /* Internet Explorer 10+ */
      }

    }
    .content-bottoms{
      width: 85vw;
      //width: calc(28vh / 375 * 644);
      margin: auto;
      color: #ffffff;
      text-align: center;
      font-size: 16px;
      margin-top: 5vh;
      .file-c-bottom{
        display: inline-block;
        background: url("assets/main-bottom-border.png") no-repeat;
        background-size: cover;
        width: 37vw;
        height: calc(37vw / 296 * 69);
        line-height: calc(37vw / 296 * 69);
        //width: calc(5vh / 69 * 296);
        //height: 5vh;
        //line-height: 5vh;
        color: #ffffff;
      }
      .b-left{
        margin-left: 6.25%;
        //margin-left: calc((28vh / 375 * 644) - ((5vh / 69 * 296) * 2));
      }
    }
    .click-color{
      font-size: 0;
      color: #ffffff;
      margin: 5vh 0;
      text-align: center;
      .color-title{
        font-size: 14px;
        display: inline-block;
        vertical-align: middle;
        font-weight: bold;
      }
      .color-item {
        display: inline-block;
        vertical-align: middle;
        width: 25px;
        height: 25px;
        border-radius: 5px;
        border: 2px solid #ffffff;
        margin-left: 5vw;
        position: relative;

       &.item-after:after {
         content: "";
         position: absolute;
         top: 0;
         left: 0;
         right: 0;
         bottom: 0;
         background: url("assets/checkboc-click.png") no-repeat;
         margin-left: 1px;
         margin-top: 1.5px;
       }
       &.item-black{
         background-color: #000000;
       }
       &.item-blue{
         background-color: #101B48;
       }
       &.item-w{
         background-color: #ffffff;
       }
      }
    }
  }
}
input::-webkit-input-placeholder, textarea::-webkit-input-placeholder {
  color: #ffffff!important;
}
input:-moz-placeholder, textarea:-moz-placeholder {
  color: #ffffff!important;
}
.code-img{
  background: url("assets/code-img.png") no-repeat;
}
.file-img{
  width: 85vw;
  height: calc(85vw / 638 * 332);
  position: relative;
  display: none;
}
.new-img{
  width: 85vw;
  height: calc(85vw / 638 * 466);
  position: relative;
  display: none;
}
.canvas{
  background-color: #ffffff;
  position: absolute;
  top: -30px;
  margin-left: 7.5%;
  display: none;
}
@media screen and (max-height: 568px) {
  .file-page .file-content .content-bottoms{
    margin-top: 5vh;
  }
  .file-page .file-content .content-bottoms .file-c-bottom{
    width: 34vw;
    height: calc(34vw / 296 * 69);
    line-height: calc(34vw / 296 * 69);
  }
  .file-page .file-content .content-title .title2{
    font-size: 25px;
  }
}