extends ../../modules/html-templates/base.pug

block title
    title 汉莎航空Lufthansa
block content
    //div#clipArea
    //input(type="file" id="file")

    div.file-page
        div.file-content
            span.content-logo
            .content-title
                span.title2 说出你的态度宣言
                span.title2 让世界听到
            form(action="test")
                .content-file()
                    div(class="c-canvas" id="clipArea")
                    input(id="file" type="file" class="c-file" data-tip="请先上传图片" data-verifi='non-null')
                //img(id="file-img" src="" class="file-img" style="display:block")
                //img(id="new-img" src="" class="new-img")
                .from-input
                    input(id="canvasimg1" name="canvasimg1" type="hidden" )
                    input(id="canvasimg2" name="canvasimg2" type="hidden" )
                    input.input-bg(id="keyword" name="keyword" type="text" placeholder="输入我的态度宣言..." maxlength=18  data-verifi='non-null')
                    input(type="text" style="display: none")
                .click-color
                    span.color-title 字体颜色选择
                    span.color-item.item-w.item-after(data-click="img-color")
                    span.color-item.item-black(data-click="img-color")
                    span.color-item.item-blue(data-click="img-color")
                .content-bottoms
                    a.file-c-bottom(href="/pages/submit.html") 返回上一步
                    a.file-c-bottom.b-left(data-click="file-bottom") 确认提交
            img(id="code-img" src="/images/code-img.png" class="code-img" style="visibility:hidden;position:absolute;z-index: -1;display:none")
            canvas(class=" " id="canvas" style="display:none")