.loading-box{
  padding-top: calc((100vh - 10rem) / 2);
}
.loading-show{
  width: 100vw;
  height: 100vh;
  background: url("assets/loading.png") no-repeat;
  background-size: 100% 100%;
  z-index: 999;
}
.loading-logo{
  background: url("assets/loading-mid.gif") no-repeat;
  background-size: 100% 100%;
  width: calc(286px  / 1.5);
  height: calc(256px  / 1.5);
  margin: auto;
}

@media screen and (max-height: 568px) {
  .loading-box{
    padding-top: calc((100vh - 16rem) / 2);
  }
}