.submit-page{
  height: 100vh;
  width: 100vw;
  background: url("assets/submit-bg.png") no-repeat;
  background-size: cover;
  position: relative;
  background-position: center;
  .submit-content {
    position: absolute;
    top: 5vh;
    bottom: 15vh;
    height: 85vh;
    width: 100vw;
    .content-logo {
      background: url("assets/main-logo.png") no-repeat;
      background-size: cover;
      width: 30vw;
      height: calc(30vw / 241 * 44);
      display: block;
      margin-left: 8%;
      margin-bottom: 7vh;
    }
    .content-title{
      text-align: center;
      span{
        display: block;
        color: #ffffff;
        font-weight: 900;
      }
      .title1{
        font-size: 28px;
      }
      .title2{
        font-size: 32px;
        margin-top: 1vh;
      }
    }
    .submit-content-from{
      margin-top: 5vh;
      width: 100%;
      font-size: 0;
      .from-select{
        margin-top: 5vh;
        width: 100%;
        position: relative;
        .from-phone {
          font-size: 0;
        }
        .from-phone-title {
          color: #ffffff;
          font-size: 12px;
          text-align: center;
          margin-top: 1.5vh;
        }
        .from-bottom{
          display: inline-block;
          background: url("assets/start-bottom1.png") no-repeat;
          background-size: 100% 100%;
          width: 58vw;
          height: calc(58vw / 473 * 66);
          //width: calc(5vh / 66 * 473);
          //height: 5vh;
          line-height: calc(58vw / 473 * 66);
          color: #ffffff;
          letter-spacing: 2px;
          font-weight: 900;
          text-align: center;
          font-size: 16px;
          margin-left: calc((100vw - 58vw) / 2);
          margin-top: 12vh;
        }
        .select-bg1{
          background: url("assets/mudidi-bottom-bg1.png") no-repeat;
          background-size: cover;
          background-position: center;
        }
        .bg-new-title{
          display: inline-block;
          width: 35vw;
          color: #ffffff!important;
          vertical-align: top;
          font-size: 17px;
        }
        .bg-title {
          display: inline-block;
          vertical-align: top;
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
          width: 35vw;
        }
        .select-bg2{
          background: url("assets/mudidi-bottom-bg2.png") no-repeat;
          background-size: cover;
          background-position: center;
          border: 0;
          padding-left: 0!important;
          width: 55vw!important;
          display: inline-block;
          vertical-align: top;
        }
        .select-bg2-span {
          display: inline-block;
          vertical-align: top;
          width: 45vw;
          background: url("assets/mudidi-bottom-bg2.png") no-repeat;
          background-size: cover;
          height: 7vh;
          font-size: 17px;
          color: #ffffff !important;
          line-height: 7vh;
          padding-left: 10vw;
        }
        .from-select-bg{
          position: relative;
          color: #ffffff;
          width: 100%;
          height: 100%;
          text-align: left;
          font-size: 16px;
          padding-left: 10vw;
          height: 7vh;
          line-height: 7vh;
        }
        .verification-error{
          color: #8C203E;
          input {
            color: #8C203E;
          }
          input::-webkit-input-placeholder, textarea::-webkit-input-placeholder {
            color: #8C203E!important;
            opacity: 1!important;
          }
          input:-moz-placeholder, textarea:-moz-placeholder {
            color: #8C203E!important;
            opacity: 1!important;
          }
        }
        select{
          position: absolute;
          left: 0;
          right: 0;
          top: 0;
          bottom: 0;
          opacity: 0;
          width: 100%;
        }
        input::-webkit-input-placeholder, textarea::-webkit-input-placeholder {
          color: #3460AD!important;
          opacity: 0!important;
        }
        input:-moz-placeholder, textarea:-moz-placeholder {
          color: #3460AD!important;
          opacity: 0!important;
        }
        //.from-data{
        //  background: url("assets/mudidi-bottom-bg2.png") no-repeat;
        //  background-size: cover;
        //  background-position: center;
        //  position: relative;
        //  color: #3460AD;
        //  width: 100vw;
        //  font-size: 0;
        //  height: 7vh;
        //  line-height: 7vh;
        //  .verification-error{
        //    border-bottom: 1px solid #8C203E;
        //    border-top: 1px solid #8C203E;
        //  }
        //  .bg-w1{
        //    width: 30vw!important;
        //  }
        //  .bg-p{
        //    padding: 0!important;
        //  }
        //  .select-bg{
        //    display: inline-block;
        //    font-size: 16px;
        //    width: 17.5vw;
        //    text-align: left;
        //    color: #ffffff;
        //    position: relative;
        //    padding-left: 10vw;
        //    height: 100%;
        //    vertical-align: top;
        //    .icon{
        //      background: url("assets/mudidi-bottom-icon.png") no-repeat;
        //      background-size: cover;
        //      width: calc(8px / 16 * 20);
        //      height: 8px;
        //      display: block;
        //      margin-top: calc(3.5vh - 4px);
        //    }
        //    span{
        //      margin-left: 7vw;
        //      display: block;
        //    }
        //    input{
        //      position: absolute;
        //      left: 0;
        //      right: 0;
        //      top: 0;
        //      bottom: 0;
        //      opacity: 0;
        //      width: 100%;
        //
        //    }
        //  }
        //  .select-span{
        //    display: inline-block;
        //    font-size: 16px;
        //    background-color: #01113F;
        //    width: 15vw;
        //    text-align: center;
        //    height:100%;
        //  }
        //  .s-span{
        //    display: inline-block;
        //    background-color: #01113F;
        //    width: 5vw;
        //    position: absolute;
        //    right: 0;
        //    top: 0;
        //    bottom: 0;
        //  }
        //}
      }
    }
  }
}

@media screen and (max-height: 568px) {
  .submit-page .submit-content .submit-content-from .from-select .from-bottom{
    margin-top: 5vh;
  }
  .submit-page .submit-content .content-logo{
    margin-bottom: 3vh;
  }
  .submit-page .submit-content .content-title{
    .title1{
      font-size: 20px;
    }
    .title2{
      font-size: 22px;
    }
  }
  .submit-page .submit-content .submit-content-from{
    margin-top: 0;
  }
}