extends ../../modules/html-templates/base.pug

block title
    title 汉莎航空Lufthansa
block content
    div.submit-page
        div.submit-content
            span.content-logo
            .content-title
                span.title1 您希望对世界什么地方说
                span.title2 YES,我来了
            div.submit-content-from
                form
                    div.from-select
                        div.from-select-bg.select-bg1( data-selected="请选择",data-from="bg")
                            span.bg-new-title 目的地
                            span.bg-title
                            select(name="fangshi" data-from="select")
                                option(selected="" value="") 请选择城市
                                option(value="格拉茨格拉茨格拉茨 Graz") 格拉茨格拉茨格拉茨 Graz
                                option(value="林茨 Linz") 林茨 Linz
                        div.from-select-bg.select-bg1( data-selected="请选择",data-from="bg")
                            span.bg-new-title 何种体验
                            span.bg-title
                            select(name="fangshi" data-from="select")
                                option(selected="" value="") 请选择体验
                                option 旅行
                                option 留学
                                option 商务
                                option 探亲
                        div.from-select-bg.select-bg1( data-selected="请选择",data-from="bg")
                            span.bg-new-title 出发机场
                            span.bg-title
                            select(name="city2" data-from="select")
                                option(selected="" value="") 请选择城市
                                option 北京
                                option 上海
                                option 南京
                                option 沈阳
                                option 青岛
                        div.from-phone(data-type="phone",data-from="bg")
                            span.select-bg2-span 手机号
                            input.from-select-bg.select-bg2(data-from="input",placeholder="请输入号码")
                        p.from-phone-title ＊手机号码仅用于联系用户发放奖品事宜
                        p.from-phone-title 加的一排字 是什么喃？
                        //div.from-data
                        //    div.select-bg.bg-w1(data-val="2018" ) 2018 年
                        //        input( disalbed name="nian" value="2018")
                        //    span.select-span 月
                        //    div.select-bg.bg-p( data-selected="",data-from="bg")
                        //        span.icon
                        //        select(name="yue" data-from="select")
                        //            option(selected="" value="") 请选择月份
                        //            option 1
                        //            option 2
                        //    span.select-span 日
                        //    div.select-bg.bg-p( data-selected="",data-from="bg")
                        //        span.icon
                        //        select(name="ri" data-from="select")
                        //            option(selected="" value="") 请选择日期
                        //            option 1
                        //            option 2
                        //    span.s-span
                        a.from-bottom(data-click="form") YES
