.main-page{
  height: 100vh;
  width: 100vw;
  background: url("assets/main-bg.png") no-repeat;
  background-size: cover;
  position: relative;
  background-position: center;
  .main-content{
    position: absolute;
    top: 5vh;
    bottom: 15vh;
    height: 85vh;
    width: 100vw;
    .content-head{
      position: relative;
      font-size: 0;
    }
    .content-video{
      width: calc(85vw - 30vw - 8%);
      display: inline-block;
      vertical-align: bottom;
      margin-left: 15vw;
    }
    .content-video-title{
      display: inline-block;
      vertical-align: middle;
    }
    .content-video-click{
      display: inline-block;
      vertical-align: middle;
      background: url("assets/main-video.png") no-repeat;
      background-size: cover;
      width: calc(5vh / 66 * 67);
      height: 5vh;
    }
    .video-title{
      display: block;
      color: #fff;
      font-size: 9px;
      font-weight: 900;
    }
    .content-logo{
      background: url("assets/main-logo.png") no-repeat;
      background-size: cover;
      //width: calc(3.5vh / 44 * 241);
      //height: 3.5vh;
      width: 30vw;
      height: calc(30vw / 241 * 44);
      display: inline-block;
      margin-left: 8%;
      //margin-top: 10px;
    }
    .text-p{
      margin-top: 4vh;
      font-size: 40px;
      line-height: 50px;
      font-weight: 900;
      color: #fff;
      text-align: center;
    }
    .content-text{
      text-align: center;
      color: #ffffff;
      height: 45vh;
      overflow-y: scroll;
      margin-top: 1vh;
      .content-antext{
        margin-top: 45vh;
      }
      .text-p-spacing{
        letter-spacing: 1.5px
      }
      .text-l{
        letter-spacing: 1px;
        font-size: 16px;
        margin-top: 1.8vh;
      }
      .text-t{
        font-size: 12px;
        margin-top: 2vh;
        opacity: .8;
      }
      .text-s{
        font-size: 14px;
        margin-top: 2vh;
      }
      .text-t-top{
        margin-top: 3vh;
      }

    }
    .opacity-all{
      opacity: 1!important;
    }
    .content-bottoms-err {
       color: red!important;
      .bottoms-box .radio-box .radio-label{
        border: 1px solid red!important;
      }
    }
    .content-bottoms {
      color: #ffffff;
      font-size: 12px;
      opacity: .8;
      .bottoms-box {
        width: fit-content;
        margin: auto;
        margin-top: 4vh;
      }
      span {
        display: inline-block;
        vertical-align: middle;
      }
      .radio-title{
        margin-left: 3px;
      }
      .radio-border{
         border-bottom: 1px solid;
      }
      .radio-box {
        position: relative;
        display: inline-block;
        vertical-align: middle;
        margin-top: 1px;
        label {
          display: inline-block;
          vertical-align: middle;
        }
      }
      input[type="checkbox"] {
        height: 12px;
        width: 12px;
        opacity: 0;
      }
      .radio-label{
        position: absolute;
        left: 0;
        top: 1px;
        width: 12px;
        height: 12px;
        border-radius: 50%;
        border: 1px solid #ffffff;

      }
      input[type="checkbox"]:checked + .radio-label::after {
        position: absolute;
        content: "";
        width: 6px;
        height: 6px;
        top: 2px;
        left: 2px;
        background-color: #ffffff;
        -moz-border-radius: 60px;
        -webkit-border-radius: 60px;
        border-radius: 60px;
      }

    }
    //.content-carousel{
    //  width: calc(31.06vh / 375 * 644);
    //  height: 31.06vh;
    //  margin: auto;
    //  margin-bottom: 10vh;
    //  overflow: hidden;
    //
    //  .carousel1{
    //    background: url("assets/animation-1.png") no-repeat;
    //  }
    //  .carousel2{
    //    background: url("assets/animation-2.png") no-repeat;
    //  }
    //  .carousel3{
    //    background: url("assets/animation-3.png") no-repeat;
    //  }
    //  .carousel4{
    //    background: url("assets/animation-4.png") no-repeat;
    //
    //  }
    //  .carousel5{
    //    background: url("assets/animation-5.png") no-repeat;
    //
    //  }
    //  .carousel6{
    //    background: url("assets/animation-6.png") no-repeat;
    //  }
    //  .carousel-item{
    //    background-size: cover;
    //    width: calc(31.06vh / 375 * 644);
    //    height: 31.06vh;
    //    margin: auto;
    //  }
    //}
    .content-bottom{
      margin: auto;
      text-align: center;
      font-size: 16px;
      margin-top: 5vh;
      .main-c-bottom{
        display: inline-block;
        background: url("assets/main-bottom-bg.png") no-repeat;
        background-size: 100% 100%;
        width: 55vw;
        height: calc(55vw / 495 * 70);
        line-height: calc(55vw / 495 * 70);
        color: #ffffff;
        font-weight: bold;
        letter-spacing: 2px;
      }
      .c-bottoms {
        color: #ffffff;
        width: 58vw;
        margin: auto;
        position: relative;
        margin-top: 5vh;
        font-size: 14px;
        .c-bottom-left{
          position: absolute;
          left: 0;
          top: 0;
          color: #ffffff;
          border-bottom: 1px solid #ffffff;
        }
        .c-bottom-right{
          position: absolute;
          right: 0;
          top: 0;
          color: #ffffff;
          border-bottom: 1px solid #ffffff;
        }
        .c-bottom-mid{
          border-bottom: 1px solid #ffffff;
        }
      }
    }
  }
}
.main-video{
  width: 100vw;
  height: 100vh;
  display: none;
  object-fit:contain;
}
.main-page-tips{
  display: none;
  .main-tips{
    background: url("assets/tips-bg1.png") no-repeat;
    background-size: cover;
    height: 100vh;
    width: 100vw;
    background-position: center;
    .main-introduce-content{
      color: #ffffff;
      height: 90vh;
      overflow-x: scroll;
      padding: 5vh 0 0 0;
      .content-logo{
        background: url("assets/main-logo.png") no-repeat;
        background-size: cover;
        //width: calc(3.5vh / 44 * 241);
        //height: 3.5vh;
        width: 30vw;
        height: calc(30vw / 241 * 44);
        display: block;
        margin-left: 8%;
      }
      .introduce-head{
        font-weight: 900;
        letter-spacing: 1px;
        display: block;
        font-size: 20px;
        margin-top: 3vh;
        padding: 0 10vw;
        margin-bottom: 3vh;
        &.head-content{
          text-align: center;
        }
      }
      .title-scroll{
        padding: 0 10vw;
        letter-spacing: 1px;
        font-size: 14px;
        height: 70vh;
        overflow-x: scroll;
        span {
          display: inline-block;
          margin-top: 3vh;
          p {
            line-height: 22px;
          }
        }
        span:first-child{
          margin-top: 0;
        }
        span:last-child{
          margin-top: 20px;
          padding-bottom: 80px;
        }
      }
      .introduce-titie{
        padding: 0 10vw;
        letter-spacing: 1px;
        font-size: 14px;
        span {
          display: inline-block;
          margin-top: 4vh;
          p {
            margin-top: 5px;
          }
        }
        span:last-child{
          margin-top: 20px;
          padding-bottom: 80px;
        }
      }
    }
    .introduce-page-lose{
      position: absolute;
       background: url("assets/main-tips-lose.png") no-repeat;
      background-size: cover;
      display: inline-block;
      //width: calc(5vh / 69 * 69);
      //height: 5vh;
      width: 30px;
      height: 30px;
      right: 10%;
      top: 5vh;
    }
  }
}
//button{
//  display: none!important;
//}

@media screen and (max-height: 568px) {
  //.main-page .main-content .content-carousel{
  //  margin-bottom: 5vh;
  //}
  .main-page .main-content .text-p{
    font-size: 28px;
    line-height: 30px;
  }
  .main-page .main-content .content-text{
    height: 42vh;
    margin-top: 3vh;
  }
  .main-page .main-content .content-text.content-antext{
    height: 42vh;
  }
  .main-page .main-content .content-text .text-l{
    font-size: 15px;
    margin-top: 1.15vh;
  }
  .main-page .main-content .content-bottom {
    margin-top: 2.3vh;
    .c-bottoms {
      margin-top: 2.3vh;
    }
    .bottoms-box {
      margin-top: 2.3vh;
    }
  }
}
@media only screen and (device-width : 375px) and (device-height : 812px) and (-webkit-device-pixel-ratio : 3) {
  .main-page .main-content .content-text {
    height: 40vh;
  }
  .main-page .main-content .content-bottom .c-bottoms {
    margin-top: 3vh;
  }
  //.main-page .main-content .content-logo{
  //  background-size: cover;
  //  width: 43vw;
  //  height: calc(43vw / 241 * 44);
  //}
  //.main-page-tips .main-tips .main-introduce-content .content-logo{
  //  background-size: cover;
  //  width: 43vw;
  //  height: calc(43vw / 241 * 44);
  //}
  //.main-page .main-content .content-video{
  //  margin-right: 3%;
  //
  //}
  .main-page .main-content .video-title{
    font-size: 9px;
  }
}
@media (min-device-width : 414px) and (max-device-width : 736px) and (-webkit-min-device-pixel-ratio: 3){
  .main-page .main-content .content-bottom {
    margin-top: 3.5vh;
    .bottoms-box{
      margin-top: 2.8vh;
    }
    .c-bottoms {
      margin-top: 3vh;
    }
  }
}