.show-page{
  height: 100vh;
  width: 100vw;
  background: url("assets/show-bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  background-position: center;
  .show-content {
    position: absolute;
    top: 5vh;
    bottom: 15vh;
    height: 85vh;
    width: 100vw;
    .content-logo {
      background: url("assets/main-logo.png") no-repeat;
      background-size: cover;
      width: 30vw;
      height: calc(30vw / 241 * 44);
      display: block;
      margin-left: 8%;
      margin-bottom: 2vh;
    }
    .content-title{
      text-align: center;
      //min-height: 15.9vh;
      span{
        display: block;
        color: #ffffff;
        font-weight: 900;
      }
      .title{
          font-size: 38px;
          letter-spacing:4px;
        }
      .subtitle{
        //margin-top: 20px;
        font-size: 20px;
        letter-spacing:2px;
      }
      .title2{
        font-size: 32px;
        letter-spacing:4px;
      }
      .subtitle2{
        font-size: 20px;
        letter-spacing:2px;
        margin-bottom: 40px;
      }
    }
    .content-file{
      width: 85vw;
      height: calc(85vw / 638 * 466);
      margin: auto;
      margin-top: 5vh;
      position: relative;
      img{
        border-radius: 5px;
        //border: 2px solid white;
        width: 100%;
      }
    }
    .content-save{
      color: #ffffff;
      margin-top: 2.4vh;
      text-align: center;
      text-shadow:5px 5px 20px #000000;
      min-height: 18px;
      font-size: 14px;
      span {
        margin-top: .4vh;
        display: block;
        font-weight: 900;
      }
    }

    .content-bottoms{
      color: #ffffff;
      text-align: center;
      font-size: 16px;
      margin-top: 8vh;
      .show-c-bottom{
        display: block;
        background: url("assets/show-input-bg.png") no-repeat;
        background-size: cover;
        width: 64vw;
        height: calc(64vw / 495 * 70);
        line-height: calc(64vw / 495 * 70);
        color: #ffffff;
        letter-spacing: 1px;
        font-weight: 900;
        margin: auto;
      }
      .c-bottom-x{
        display: inline-block;
        width: 43vw;
        height: calc(43vw / 317 * 70);
        line-height: calc(43vw / 317 * 70);
        background: url("assets/show-input-bg1.png") no-repeat;
        background-size: cover;
        color: #ffffff;
        letter-spacing: 1px;
        font-weight: 900;
      }
    }
  }
}
@media screen and (max-height: 568px) {
  .show-page .show-content .content-bottoms{
    margin-top: 3vh!important;
  }
  .show-page .show-content .content-save{
    margin-top: 1.5vh;
  }
  //.show-page .show-content .content-bottoms .c-bottom{
  //  width: 65vw;
  //  height: calc(65vw / 495 * 70);
  //  line-height: calc(65vw / 495 * 70);
  //}
}
@media only screen and (device-width : 375px) and (device-height : 812px) and (-webkit-device-pixel-ratio : 3) {
  .show-page .show-content .content-bottoms{
    margin-top: 5vh!important;
  }
  .show-page .show-content .content-file {
    margin-top: 5vh!important;
  }
  //.show-page .show-content .content-bottoms .c-bottom{
  //  width: 65vw;
  //  height: calc(65vw / 495 * 70);
  //  line-height: calc(65vw / 495 * 70);
  //}
}
