extends ../../modules/html-templates/base.pug

block title
    title 汉莎航空Lufthansa
block content
    div.show-page
        div.show-content
            span.content-logo
            .content-title
                span.title 恭喜您
                span.subtitle 态度宣言已生成
            //这部分是分享之后显示的
            //.content-title
            //    span.title2 现在为世界出发
            //    span.subtitle2 #SayYesToTheWorld#
            .content-file
                img(src="/images/final_image_created.png")
            .content-save
                //分享之后显示的时候，请删除这个span
                span 长按保存，秀出你的宣言态度
                span 即有机会赢取往返机票
            div.content-bottoms
                .c-bottom-x 返回上一步
                .c-bottom-x 秀出你的态度
                .show-c-bottom(id="sharebtn") 制作我的态度宣言海报

    div.share-tip(id="share-tip")
        div.share-img.shareMove
            img(src="/images/plane.png")