.start-page{
  height: 100vh;
  width: 100vw;
  background: url("assets/start-bg.png") no-repeat;
  background-size: cover;
  position: relative;
  background-position: center;
  .start-content{
    position: absolute;
    top: 5vh;
    bottom: 15vh;
    height: 85vh;
    width: 100vw;
    .content-logo{
      background: url("assets/main-logo.png") no-repeat;
      background-size: cover;
      width: 30vw;
      height: calc(30vw / 241 * 44);
      display: block;
      margin-left: 8%;
    }
    .content-bottoms{
      padding-top: 3vh;
      //width: calc(28vh / 375 * 644);
      margin: auto;
      color: #ffffff;
      text-align: center;
      font-size: 16px;
      .start-c-bottom{
        display: inline-block;
        background: url("assets/start-bottom.png") no-repeat;
        background-size: 100% 100%;
        width: 50vw;
        height: calc(50vw / 495 * 69);
        line-height: calc(50vw / 495 * 69);
        color: #ffffff;
        letter-spacing: 2px;
        font-weight: 900;
      }
    }
    .content-title-m1{
      margin-top: 3vh;
    }
    .content-title-m2{
      margin-top: 8vh;
    }
    .content-title{
      color: #ffffff;
      padding: 0 4vh;
      text-align: center;
      opacity: .7;
      p{
        font-size: 13px;
        margin-bottom: 1vh;
      }

    }
  }
}
.content-img-box{
  width: 100vw;
  position: relative;
  margin-top: 5vh;
}
.content-img-bg {
  pointer-events: none;
  background: url("assets/zhuangshi-bg.png") no-repeat;
  background-size: cover;
  width: 100vw;
  height: calc(100vw / 768 * 577);
  position: absolute;
  top: 0;
  z-index: 3;
}
.content-carousel{
  width: 85vw;
  height: calc((85vw / 644 * 375) + 20px);
  position: absolute;
  top: 2.5vh;
  left: 7.5vw;
  overflow: hidden;
  z-index: 1;
  .carousel1{
    background: url("assets/animation-1.png") no-repeat;
  }
  .carousel2{
    background: url("assets/animation-2.png") no-repeat;
  }
  .carousel3{
    background: url("assets/animation-3.png") no-repeat;
  }
  .carousel4{
    background: url("assets/animation-4.png") no-repeat;

  }
  .carousel5{
    background: url("assets/animation-5.png") no-repeat;

  }
  .carousel6{
    background: url("assets/animation-6.png") no-repeat;
  }
  .carousel-item{
    background-size: cover;
    width: 85vw;
    height: calc(85vw / 644 * 375);
    margin: auto;
  }
}
.slick-dots{
  bottom: 0!important;
  li {
    width: 15px!important;
  }
}
.slick-dots li.slick-active button:before {
  color: #ffffff!important;
  opacity: 1!important;
}
.slick-dots li button:before{
  opacity: 1!important;
  color: #C0C0C0!important;
}
.slick-dots li{
  margin: 0!important;
}
@media screen and (max-height: 568px) {
  .content-img-box {
    margin-top: 3vh;
  }
  .main-page .main-content .content-carousel{
    margin-bottom: 5vh;
  }
  .start-page .start-content {
    .content-title {
      p {
        font-size: 11px;
      }
    }
    .content-title-m2 {
      margin-top: 3vh;
    }
    content-title-m1 {
      margin-top: 2vh;
    }
    .content-logo {
      margin-bottom: 3vh;
    }

    .content-bottoms .start-c-bottom {
      width: 48vw;
      height: calc(48vw / 495 * 69);
      line-height: calc(48vw / 495 * 69);
    }
  }
}
@media only screen and (device-width : 375px) and (device-height : 812px) and (-webkit-device-pixel-ratio : 3) {

}