extends ../../modules/html-templates/base.pug

block title
    title 汉莎航空Lufthansa
block content
    div.start-page
        div.start-content
            span.content-logo
            div.content-title.content-title-m1
                p #现在为世界出发
                p 每个人都有自己的理由
                p 这个理由彰显着你对世界和旅行的态度
            div.content-img-box
                div.content-img-bg
                div.content-carousel
                    .carousel-item.carousel1
                    .carousel-item.carousel2
                    .carousel-item.carousel3
                    .carousel-item.carousel4
                    .carousel-item.carousel5
                    .carousel-item.carousel6
            div.content-title.content-title-m2
                p 参照以上海报
                p 说出#现在为世界出发的理由
                p 生成你的态度宣言海报
            div.content-bottoms
                a.start-c-bottom(href="/pages/submit.html") 秀出你的态度