.declaration-page{
    .declaration-page-content{
        background: url("assets/declaration-bg.png") no-repeat;
        background-size: cover;
        height: 100vh;
        width: 100vw;
        background-position: center;
        .main-introduce-content{
            color: #ffffff;
            height: 100vh;
            padding: 5vh 1vw 0 1vw;
            .content-logo{
                background: url("assets/main-logo.png") no-repeat;
                background-size: cover;
                width: 30vw;
                height: calc(30vw / 241 * 44);
                display: block;
                margin-left: 8%;
            }
            .logo-d {
                margin-bottom: 5vh;
            }
            .content-box{
                overflow: hidden;
                overflow-y: auto;
                height: 100%;
                padding-bottom: 10vh;
                padding-top: 3vh;
            }
            .content-box::-webkit-scrollbar-track-piece {
                background-color: rgba(0, 0, 0, 0);
                border-left: 1px solid rgba(0, 0, 0, 0);
            }
            .content-box::-webkit-scrollbar {
                width: 3px;
                height: 13px;
                -webkit-border-radius: 5px;
                -moz-border-radius: 5px;
                border-radius: 5px;
            }
            .content-box::-webkit-scrollbar-thumb {
                background-color: rgba(140,147,140,0.8);
                background-clip: padding-box;
                -webkit-border-radius: 5px;
                -moz-border-radius: 5px;
                border-radius: 5px;
                min-height: 28px;
            }
            .content-box::-webkit-scrollbar-thumb:hover {
                background-color: rgba(140,147,140, 0.8);
                -webkit-border-radius: 5px;
                -moz-border-radius: 5px;
                border-radius: 5px;
            }
            .introduce-head{
                font-weight: 900;
                letter-spacing: 1px;
                display: block;
                font-size: 20px;
                margin-top: 3vh;
            }
            .introduce-titie{
                letter-spacing: 1px;
                font-size: 14px;
                span {
                    display: inline-block;
                    margin-top: 4vh;
                    p {
                        margin-top: 5px;
                    }
                }
                span:last-child{
                    margin-top: 20px;
                    padding-bottom: 80px;
                }
            }
        }

        .introduce-page-lose{
            position: absolute;
            background: url("assets/main-tips-lose.png") no-repeat;
            background-size: cover;
            display: inline-block;
            width: 30px;
            height: 30px;
            right: 10%;
            top: 5vh;
        }
        .content-des{
            font-size: 14px;
            text-align: center;
            margin-top: 34.5vh;
            letter-spacing: 1px;
            span {
                display: block;

            }
            .des-top{
                margin-top: 4vh;
                a{
                    color: #ffffff;
                    display: block;
                    border-bottom: 1px solid #ffffff;
                    width: fit-content;
                    margin: auto;
                }
            }
        }
        .declaration-content{
            //padding-top: 2.5vh;
        }
        .content-img{
            background: url("assets/declaration-img.png") no-repeat;
            background-size: cover;
            width: 85vw;
            height: calc(85vw / 638 * 332);
            margin-left: 7.5vw;
            display: block;
            background-position: center;
        }
        .content-title{
            font-size: 12px;
            display: inline-block;
            vertical-align: top;
            margin-left: 7.5vw;
            margin-top: 2vh;
            margin-bottom: 2.5vh;
        }
    }
}

@media only screen and (device-width : 375px) and (device-height : 812px) and (-webkit-device-pixel-ratio : 3) {
    //.main-page-tips .main-tips .main-introduce-content .content-logo{
    //    background-size: cover;
    //    width: 30vw;
    //    height: calc(30vw / 241 * 44);
    //}
    .main-page-tips .main-tips .main-introduce-content .content-title{
        width: 90vw;
        margin-left: 0;
    }
}