extends ../../modules/html-templates/base.pug

block title
    title 汉莎航空Lufthansa
block content
    div.declaration-page(data-tipsjs="activity")
        div.declaration-page-content
            div.main-introduce-content
                span.content-logo.logo-d
                div.content-box
                    div.declaration-content
                        a.content-img(href="#")
                        span.content-title 2018年6月27日 12:23
                    div.declaration-content
                        a.content-img(href="#")
                        span.content-title 2018年6月27日 12:23
                    div.declaration-content
                        a.content-img(href="#")
                        span.content-title 2018年6月27日 12:23
                    div.declaration-content
                        a.content-img(href="#")
                        span.content-title 2018年6月27日 12:23
                    div.declaration-content
                        a.content-img(href="#")
                        span.content-title 2018年6月27日 12:23
            a.introduce-page-lose(data-click="tips-lose")