doctype html
html(lang="en")
  head
    meta(charset='utf-8')
    meta(name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no")
    title Index Page
  body
    ul
      each entry in htmlWebpackPlugin.options.entries
        li
          a(href="./pages/" + entry + ".html") #{entry}
